.container {
	input {
		width: 250px;
		margin-left: 10px;
		height: 25px;
		border-radius: 20px;
		border: 2px solid rgb(90, 52, 187);
		background: transparent;
	}
	.content {
		border: 2px solid rgb(90, 52, 187);
	}
}
